<%- include('./partials/header.ejs') %>

    <p>Pagina 1/5</p>

    <form method="post" action="/vraag/2">
        <label for="studentName">
            Naam student
            <input type="text" id="studentName" name="nameStudent">
        </label>
        <label for="studentNumber">
            Studentnummer
            <input type="text" id="studentNumber" name="numberStudent">
        </label>
        <input type="hidden" name="page" value="1">
        <input type="submit" value="Volgende">
    </form>

<%- include("./partials/footer.ejs") %>