<%- include('./partials/header.ejs') %>

    <p>Pagina 3/5</p>

    <p>Jaar opleiding</p>
    <form method="post" action="/vraag/4">
        <label for="schooljaar1">
            <input id="schooljaar1" type="radio" name="courseYear" value="jaar1">
            Jaar 1
        </label>
        <label for="schooljaar2">
            <input id="schooljaar2" type="radio" name="courseYear" value="jaar2">
            Jaar 2
        </label>
        <label for="schooljaar3">
            <input id="schooljaar3" type="radio" name="courseYear" value="jaar3">
            Jaar 3
        </label>
        <label for="schooljaar4">
            <input id="schooljaar4" type="radio" name="courseYear" value="jaar4">
            Jaar 4
        </label>
        <a href="/vraag/2">Vorige</a>
        <input type="hidden" name="page" value="3">
        <input type="submit" value="Volgende">
    </form>

<%- include("./partials/footer.ejs") %>