<%- include('./partials/header.ejs') %>

    <h2>Bedankt!</h2>

    <p>We zullen zo snel mogelijk contact met je opnmenen.</p>

    <a href="/">Terug naar home</a>


<%- include("./partials/footer.ejs") %>